sourcecode/src/ms_app/mscml.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
         elementFormDefault="qualified">
         <xs:element name="MediaServerControl">
           <xs:complexType>
             <xs:choice>
               <xs:element name="request">
                 <xs:complexType>
                   <xs:choice>
                     <xs:element name="configure_conference"
                       type="configure_conferenceRequestType"/>
                     <xs:element name="configure_leg"
                       type="configure_legRequestType"/>
                     <xs:element name="play" type="playRequestType"/>
                     <xs:element name="playcollect"
                       type="playcollectRequestType"/>
                     <xs:element name="playrecord"
                       type="playrecordRequestType"/>

                     <xs:element name="managecontent"
                       type="managecontentRequestType"/>
                     <xs:element name="faxplay"
                       type="faxRequestType"/>
                     <xs:element name="faxrecord"
                       type="faxRequestType"/>
                     <xs:element name="stop" type="stopRequestType"/>
                   </xs:choice>
                 </xs:complexType>
               </xs:element>
               <xs:element name="response" type="responseType"/>
               <xs:element name="notification">
                 <xs:complexType>
                   <xs:choice>
                     <xs:element name="conference"
                       type="conferenceNotificationType"/>
                     <xs:element name="keypress"
                       type="keypressNotificationType"/>
                     <xs:element name="signal"
                       type="signalNotificationType"/>
                   </xs:choice>
                 </xs:complexType>
               </xs:element>
             </xs:choice>
             <xs:attribute name="version" use="required"/>
           </xs:complexType>
         </xs:element>
         <!-- Definitions for base and concrete MSCML requests -->
         <!-- and embedded types. -->
         <xs:complexType name="base_requestType" abstract="true">
           <xs:attribute name="id" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="playRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">
               <xs:sequence>
                 <xs:element name="prompt" type="promptType"
                   minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="prompturl" type="xs:string"/>
               <xs:attribute name="offset" type="xs:string"/>
               <xs:attribute name="promptencoding" type="xs:string"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="configure_conferenceRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">

               <xs:sequence>
                 <xs:element name="subscribe"
                   type="conference_eventsubscriptionType" minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="reservedtalkers"
                 type="xs:positiveInteger"/>
               <xs:attribute name="reserveconfmedia" type="yesnoType"
                 default="yes"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="configure_legRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">
               <xs:sequence>
                 <xs:element name="inputgain" type="gainType"
                   minOccurs="0"/>
                 <xs:element name="outputgain" type="gainType"
                   minOccurs="0"/>
                 <xs:element name="configure_team"
                   type="configure_teamType" minOccurs="0"/>
                 <xs:element name="subscribe"
                   type="leg_eventsubscriptionType" minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="type">
                 <xs:simpleType>
                   <xs:restriction base="xs:NMTOKEN">
                     <xs:enumeration value="talker"/>
                     <xs:enumeration value="listener"/>
                   </xs:restriction>
                 </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="mixmode">
                 <xs:simpleType>
                   <xs:restriction base="xs:NMTOKEN">
                     <xs:enumeration value="full"/>
                     <xs:enumeration value="mute"/>
                     <xs:enumeration value="preferred"/>
                     <xs:enumeration value="parked"/>
                     <xs:enumeration value="private"/>
                   </xs:restriction>
                 </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="dtmfclamp" type="yesnoType"/>
               <xs:attribute name="toneclamp" type="yesnoType"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="configure_teamType">
           <xs:sequence>
             <xs:element name="teammate" type="teammateType" minOccurs="0"
               maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="id" type="xs:string"/>
           <xs:attribute name="action" use="required">
             <xs:simpleType>
               <xs:restriction base="xs:string">
                 <xs:enumeration value="add"/>
                 <xs:enumeration value="delete"/>
                 <xs:enumeration value="query"/>
                 <xs:enumeration value="set"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
         </xs:complexType>
         <xs:complexType name="teammateType">
           <xs:attribute name="id" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="playcollectRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">
               <xs:sequence>
                 <xs:element name="prompt" type="promptType"
                   minOccurs="0"/>
                 <xs:element name="pattern" type="dtmfGrammarType"
                   minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="prompturl" type="xs:string"/>
               <xs:attribute name="offset" type="xs:string"/>
               <xs:attribute name="barge" type="yesnoType" default="yes"/>
               <xs:attribute name="promptencoding" type="xs:string"/>
               <xs:attribute name="cleardigits" type="yesnoType"
                 default="no"/>
               <xs:attribute name="maxdigits" type="xs:string"/>
               <xs:attribute name="firstdigittimer" type="xs:string"
                 default="5000ms"/>
               <xs:attribute name="interdigittimer" type="xs:string"
                 default="2000ms"/>
               <xs:attribute name="extradigittimer" type="xs:string"
                 default="1000ms"/>
               <xs:attribute name="interdigitcriticaltimer"
                 type="xs:string"/>
               <xs:attribute name="skipinterval" type="xs:string"
                 default="6s"/>
               <xs:attribute name="ffkey" type="DTMFkeyType"/>
               <xs:attribute name="rwkey" type="DTMFkeyType"/>

               <xs:attribute name="returnkey" type="DTMFkeyType"
                 default="#"/>
               <xs:attribute name="escapekey" type="DTMFkeyType"
                 default="*"/>
               <xs:attribute name="maskdigits" type="yesnoType"
                 default="no"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="playrecordRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">
               <xs:sequence>
                 <xs:element name="prompt" type="promptType"
                   minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="prompturl" type="xs:string"/>
               <xs:attribute name="promptencoding" type="xs:string"/>
               <xs:attribute name="offset" type="xs:string" default="0"/>
               <xs:attribute name="barge" type="yesnoType" default="yes"/>
               <xs:attribute name="cleardigits" type="yesnoType"
                 default="no"/>
               <xs:attribute name="escapekey" type="xs:string" default="*"/>
               <xs:attribute name="recurl" type="xs:string" use="required"/>
               <xs:attribute name="mode" default="overwrite">
                 <xs:simpleType>
                   <xs:restriction base="xs:NMTOKEN">
                     <xs:enumeration value="append"/>
                     <xs:enumeration value="overwrite"/>
                   </xs:restriction>
                 </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="recencoding" type="xs:string"/>
               <xs:attribute name="initsilence" type="xs:string"/>
               <xs:attribute name="endsilence" type="xs:string"/>
               <xs:attribute name="duration" type="xs:string"/>
               <xs:attribute name="beep" type="yesnoType" default="yes"/>
               <xs:attribute name="recstopmask" type="xs:string"
                 default="01234567890*#"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="managecontentRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">
               <xs:attribute name="fetchtimeout" type="xs:string"
                 default="10000"/>
               <xs:attribute name="mimetype" type="xs:string"/>

               <xs:attribute name="name" type="xs:string"/>
               <xs:attribute name="httpmethod">
                 <xs:simpleType>
                   <xs:restriction base="xs:NMTOKEN">
                     <xs:enumeration value="put"/>
                     <xs:enumeration value="post"/>
                   </xs:restriction>
                 </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="action">
                 <xs:simpleType>
                   <xs:restriction base="xs:NMTOKEN">
                     <xs:enumeration value="move"/>
                     <xs:enumeration value="delete"/>
                   </xs:restriction>
                 </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="dest" type="xs:string"/>
               <xs:attribute name="src" type="xs:string" use="required"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="stopRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType"/>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="faxRequestType">
           <xs:complexContent>
             <xs:extension base="base_requestType">
               <xs:sequence>
                 <xs:element name="prompt" type="promptType" minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="lclid" type="xs:string"/>
               <xs:attribute name="prompturl" type="xs:string"/>
               <xs:attribute name="recurl" type="xs:string"/>
               <xs:attribute name="rmtid" type="xs:string"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="dtmfGrammarType">
           <xs:choice>
             <xs:element name="regex" type="dtmfPatternType"
               maxOccurs="unbounded"/>
             <xs:element name="mgcpdigitmap" type="dtmfPatternType"/>
             <xs:element name="megacodigitmap" type="dtmfPatternType"/>
           </xs:choice>
         </xs:complexType>

         <xs:complexType name="dtmfPatternType">
           <xs:attribute name="value" type="xs:string" use="required"/>
           <xs:attribute name="name" type="xs:string"/>
         </xs:complexType>
         <!-- Definitions for base and concrete MSCML responses -->
         <!-- and embedded types. -->
         <xs:complexType name="base_responseType" abstract="true">
           <xs:attribute name="request" use="required">
             <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                 <xs:enumeration value="configure_conference"/>
                 <xs:enumeration value="configure_leg"/>
                 <xs:enumeration value="play"/>
                 <xs:enumeration value="playcollect"/>
                 <xs:enumeration value="playrecord"/>
                 <xs:enumeration value="managecontent"/>
                 <xs:enumeration value="faxplay"/>
                 <xs:enumeration value="faxrecord"/>
                 <xs:enumeration value="stop"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="id" type="xs:string"/>
           <xs:attribute name="code" type="xs:string" use="required"/>
           <xs:attribute name="text" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="responseType">
           <xs:complexContent>
             <xs:extension base="base_responseType">
               <xs:sequence>
                 <xs:element name="error_info"
                   type="stoponerrorResponseType" minOccurs="0"/>
                 <xs:element name="team" type="configure_teamResponseType"
                   minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="reason" type="xs:string"/>
               <xs:attribute name="reclength" type="xs:string"/>
               <xs:attribute name="recduration" type="xs:string"/>
               <xs:attribute name="digits" type="xs:string"/>
               <xs:attribute name="name" type="xs:string"/>
               <xs:attribute name="playduration" type="xs:string"/>
               <xs:attribute name="playoffset" type="xs:string"/>
               <xs:attribute name="faxcode" type="xs:string"/>
               <xs:attribute name="pages_sent" type="xs:string"/>
               <xs:attribute name="pages_recv" type="xs:string"/>
             </xs:extension>
           </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="stoponerrorResponseType">
           <xs:attribute name="code" type="xs:string" use="required"/>
           <xs:attribute name="text" type="xs:string" use="required"/>
           <xs:attribute name="context" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="configure_teamResponseType">
           <xs:sequence>
             <xs:element name="teammate" type="teammateType" minOccurs="0"
               maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="id" type="xs:string" use="required"/>
           <xs:attribute name="numteam" type="xs:integer" use="required"/>
         </xs:complexType>
         <!-- Definitions for MSCML event subscriptions and -->
         <!-- embedded types -->
         <xs:complexType name="conference_eventsubscriptionType">
           <xs:sequence>
             <xs:element name="events">
               <xs:complexType>
                 <xs:sequence>
                   <xs:element name="activetalkers"
                     type="activetalkersSubscriptionType"/>
                 </xs:sequence>
               </xs:complexType>
             </xs:element>
           </xs:sequence>
         </xs:complexType>
         <xs:complexType name="activetalkersSubscriptionType">
           <xs:attribute name="report" type="yesnoType" use="required"/>
           <xs:attribute name="interval" type="xs:string" default="60s"/>
         </xs:complexType>
         <xs:complexType name="leg_eventsubscriptionType">
           <xs:sequence>
             <xs:element name="events">
               <xs:complexType>
                 <xs:sequence>
                   <xs:element name="keypress"
                     type="keypressSubscriptionType" minOccurs="0"
                       maxOccurs="1"/>
                   <xs:element name="signal" type="signalSubscriptionType"
                     minOccurs="0" maxOccurs="unbounded"/>
                 </xs:sequence>
               </xs:complexType>
             </xs:element>
           </xs:sequence>
         </xs:complexType>
         <xs:complexType name="keypressSubscriptionType">
           <xs:attribute name="report" use="required">

             <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                 <xs:enumeration value="standard"/>
                 <xs:enumeration value="long"/>
                 <xs:enumeration value="both"/>
                 <xs:enumeration value="none"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="maskdigits" type="yesnoType" default="no"/>
         </xs:complexType>
         <xs:complexType name="signalSubscriptionType">
           <xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
           <xs:attribute name="report" type="yesnoType" use="required"/>
         </xs:complexType>
         <!-- Definitions for MSCML event notifications and -->
         <!-- embedded types. -->
         <xs:complexType name="conferenceNotificationType">
           <xs:sequence>
             <xs:element name="activetalkers"
               type="activetalkersNotificationType" minOccurs="0"/>
           </xs:sequence>
           <xs:attribute name="uniqueid" type="xs:string" use="required"/>
           <xs:attribute name="numtalkers" type="xs:string"
             use="required"/>
         </xs:complexType>
         <xs:complexType name="activetalkersNotificationType">
           <xs:sequence minOccurs="0">
             <xs:element name="talker" maxOccurs="unbounded">
               <xs:complexType>
                 <xs:attribute name="callid" type="xs:string"
                  use="required"/>
               </xs:complexType>
             </xs:element>
           </xs:sequence>
         </xs:complexType>
         <xs:complexType name="keypressNotificationType">
           <xs:sequence>
             <xs:element name="status" type="statusType"/>
           </xs:sequence>
           <xs:attribute name="digit" type="DTMFkeyType" use="required"/>
           <xs:attribute name="length" use="required">
             <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                 <xs:enumeration value="standard"/>
                 <xs:enumeration value="long"/>
               </xs:restriction>
             </xs:simpleType>

           </xs:attribute>
           <xs:attribute name="method" use="required">
             <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                 <xs:enumeration value="standard"/>
                 <xs:enumeration value="long"/>
                 <xs:enumeration value="double"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="interdigittime" type="xs:string"
             use="required"/>
         </xs:complexType>
         <xs:complexType name="statusType">
           <xs:attribute name="command" use="required">
             <xs:simpleType>
               <xs:restriction base="xs:string">
                 <xs:enumeration value="idle"/>
                 <xs:enumeration value="play"/>
                 <xs:enumeration value="collect"/>
                 <xs:enumeration value="record"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="duration" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="signalNotificationType">
           <xs:attribute name="type" use="required" fixed="busy"/>
         </xs:complexType>
         <!-- Definitions for miscellaneous embedded, helper data types -->
         <xs:complexType name="promptType">
           <xs:choice maxOccurs="unbounded">
             <xs:element name="audio" type="promptcontentType"/>
             <xs:element name="variable" type="spokenvariableType"/>
           </xs:choice>
           <xs:attribute name="locale" type="xs:string"/>
           <xs:attribute name="baseurl" type="xs:string"/>
           <xs:attribute name="stoponerror" type="yesnoType" default="no"/>
           <xs:attribute name="gain" type="xs:string" default="0"/>
           <xs:attribute name="gaindelta" type="xs:string" default="0"/>
           <xs:attribute name="rate" type="xs:string" default="0"/>
           <xs:attribute name="ratedelta" type="xs:string" default="0"/>
           <xs:attribute name="repeat" type="xs:string" default="1"/>
           <xs:attribute name="duration" type="xs:string"
             default="infinite"/>
           <xs:attribute name="offset" type="xs:string" default="0"/>
           <xs:attribute name="delay" type="xs:string" default="0"/>
         </xs:complexType>

         <xs:complexType name="promptcontentType">
           <xs:attribute name="url" type="xs:string" use="required"/>
           <xs:attribute name="encoding" type="xs:string"/>
           <xs:attribute name="gain" type="xs:string" default="0"/>
           <xs:attribute name="gaindelta" type="xs:string" default="0"/>
           <xs:attribute name="rate" type="xs:string" default="0"/>
           <xs:attribute name="ratedelta" type="xs:string" default="0"/>
         </xs:complexType>
         <xs:complexType name="spokenvariableType">
           <xs:attribute name="type" use="required">
             <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                 <xs:enumeration value="dat"/>
                 <xs:enumeration value="dig"/>
                 <xs:enumeration value="dur"/>
                 <xs:enumeration value="mth"/>
                 <xs:enumeration value="mny"/>
                 <xs:enumeration value="num"/>
                 <xs:enumeration value="sil"/>
                 <xs:enumeration value="str"/>
                 <xs:enumeration value="tme"/>
                 <xs:enumeration value="wkd"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="subtype">
             <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                 <xs:enumeration value="mdy"/>
                 <xs:enumeration value="dmy"/>
                 <xs:enumeration value="ymd"/>
                 <xs:enumeration value="ndn"/>
                 <xs:enumeration value="t12"/>
                 <xs:enumeration value="t24"/>
                 <xs:enumeration value="USD"/>
                 <xs:enumeration value="gen"/>
                 <xs:enumeration value="ndn"/>
                 <xs:enumeration value="crd"/>
                 <xs:enumeration value="ord"/>
               </xs:restriction>
             </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="value" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:simpleType name="yesnoType">
           <xs:restriction base="xs:NMTOKEN">
             <xs:enumeration value="yes"/>
             <xs:enumeration value="no"/>

             <xs:enumeration value="1"/>
             <xs:enumeration value="0"/>
             <xs:enumeration value="true"/>
             <xs:enumeration value="false"/>
           </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="DTMFkeyType">
           <xs:restriction base="xs:string">
             <xs:pattern value="[0-9]"/>
             <xs:pattern value="[A-D]"/>
             <xs:pattern value="[a-d]"/>
             <xs:pattern value="#"/>
             <xs:pattern value="\*"/>
           </xs:restriction>
         </xs:simpleType>
         <xs:complexType name="gainType">
           <xs:choice>
             <xs:element name="auto" type="autogainType"/>
             <xs:element name="fixed" type="fixedgainType"/>
           </xs:choice>
         </xs:complexType>
         <xs:complexType name="autogainType">
           <xs:attribute name="startlevel" type="xs:string"/>
           <xs:attribute name="targetlevel" type="xs:string"/>
           <xs:attribute name="silencethreshold" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="fixedgainType">
           <xs:attribute name="level" type="xs:string"/>
         </xs:complexType>
       </xs:schema>


